@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar */
}

/* For Chrome and Safari */
.remove-scrollbar::-webkit-scrollbar-thumb {
  display: none;
  /* Hide the thumb */
}

/* For Firefox */
.remove-scrollbar {
  scrollbar-width: none;
}

/* For Firefox */
.remove-scrollbar::-webkit-scrollbar-thumb {
  display: none;
  /* Hide the thumb */
}


.live-trade-table th:nth-child(n + 2) {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 6;
}

.live-trade-table th:nth-child(1) {
  position: sticky;
  left: 0;
  top: 0;
  background-color: inherit;
  z-index: 8;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 850px) {
  .live-trade-table td:nth-child(1) {
    position: sticky;
    left: 0;
    background-color: inherit;
    z-index: 6;
  }
}